<div class="container">
<h1>Hello from index page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<button type="button" class="btn btn-default navbar-btn"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </button>
</div>
